<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <title>Mcknight Crossings Church Group Email</title>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="#" class="navbar-brand"><img src="/assets/imgs/logo.png" alt="Logo" title="Logo"></a>
  </nav>
</header>

<body>
  <div class="wrapper bg-white">
    <div class="h4 text-center">Welcome, Service Team!</div>
    <div class="h6 text-muted text-center pt-2">Enter your login details</div>
    <form class="pt-3">
      <div class="form-group py-2">
        <div class="input-field"> <span class="far fa-user p-2"></span> <input type="text" placeholder="Email Address"
            required class=""> </div>
      </div>
      <div class="form-group py-1 pb-2">
        <div class="input-field"> <span class="fas fa-lock p-2"></span> <input type="text"
            placeholder="Enter your Password" required class=""> <button class="btn bg-white text-muted"> <span
              class="far fa-eye-slash"></span> </button> </div>
      </div>
      <div class="d-flex align-items-start">
        <div class="remember"> <label class="option text-muted"> Remember me <input type="radio" name="radio"> <span
              class="checkmark"></span> </label> </div>
        <div class="ml-auto"> <a href="#" id="forgot">Forgot Password?</a> </div>
      </div> <button class="btn btn-block text-center my-3">Log in</button>
      <div class="text-center pt-3 text-muted">Not a member? <a href="#">Sign up</a></div>
    </form>
  </div>
</body>

</html>