<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <!-- Add Icons -->
  <script src="https://unpkg.com/feather-icons"></script>


  <title>Mcknight Crossings Church Group Email</title>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light justify-content-between flex-nowrap flex-row">
    <a href="index.html" class="navbar-brand"><img src="/assets/imgs/logo.png" alt="Logo" title="Logo"></a>
    <div class="container-fluid">
      <ul class="nav navbar-nav flex-row float-left">
        <li class="nav-item"><a class="nav-link pr-3 text-light" href="#" routerLink="/login"
            routerLinkActive="active">LOGIN</a></li>
        <li class="nav-item"><a class="nav-link pr-3 text-light" href="#" routerLink="/"
            routerLinkActive="active">HOME</a></li>
      </ul>
      <!-- <a href="/" class="navbar-brand float-left fs-11 text-center">VIEW ON <br> HOME </a> -->
    </div>
  </nav>

  <section class="py-5 text-center mt-5" id="hero">
    <div class="container py-xxl-5">
      <h1>WELCOME SERVICE TEAM</h1>
      <br>
      <br>
      <button type="button" class="btn btn-dark">Go to Group Email</button>
    </div>
  </section>
</header>

<body>
  <section>
    <div class="contact-list-title">
      <h1>CONTACT LIST</h1>

    </div>
    <div class="container user-list">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Birthday</th>
            <th scope="col">Copy Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jessica Garcez Taylor</td>
            <td>jessgarcez@hotmail.com</td>
            <td>12/29</td>
            <td><img src="./assets/imgs/copy.svg" /></td>
          </tr>
          <tr>
            <td>Jessica Garcez Taylor</td>
            <td>jessgarcez@hotmail.com</td>
            <td>12/29</td>
            <td><img src="./assets/imgs/copy.svg" /></td>
          </tr>
          <tr>
            <td>Jessica Garcez Taylor</td>
            <td>jessgarcez@hotmail.com</td>
            <td>12/29</td>
            <td><img src="./assets/imgs/copy.svg" /></td>
          </tr>
          <tr>
            <td>Jessica Garcez Taylor</td>
            <td>jessgarcez@hotmail.com</td>
            <td>12/29</td>
            <td><img src="./assets/imgs/copy.svg" /></td>
          </tr>
          <tr>
            <td>Jessica Garcez Taylor</td>
            <td>jessgarcez@hotmail.com</td>
            <td>12/29</td>
            <td><img src="./assets/imgs/copy.svg" /></td>
          </tr>
          <tr>
            <td>Jessica Garcez Taylor</td>
            <td>jessgarcez@hotmail.com</td>
            <td>12/29</td>
            <td><img src="./assets/imgs/copy.svg" /></td>
          </tr>
          <tr>
            <td>Jessica Garcez Taylor</td>
            <td>jessgarcez@hotmail.com</td>
            <td>12/29</td>
            <td><img src="./assets/imgs/copy.svg" /></td>
          </tr>
          <tr>
            <td>Jessica Garcez Taylor</td>
            <td>jessgarcez@hotmail.com</td>
            <td>12/29</td>
            <td><img src="./assets/imgs/copy.svg" /></td>
          </tr>
          <tr>
            <td>Jessica Garcez Taylor</td>
            <td>jessgarcez@hotmail.com</td>
            <td>12/29</td>
            <td><img src="./assets/imgs/copy.svg" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>

</html>